version: '{branch}.{build}'
environment:
  GRADLE_CLI_OPTS: '--no-daemon --console=rich --stacktrace'
  matrix:
    - PROFILE: 'java14'
      APPVEYOR_BUILD_WORKER_IMAGE: 'Ubuntu'
matrix:
  fast_finish: false

init:
  - cmd: 'git config --global core.autocrlf true'
  - sh: 'git config --global core.autocrlf input'

build_script:
  - cmd: 'gradlew.bat --version'
  - cmd: 'gradlew.bat %GRADLE_CLI_OPTS% -PnoLint -PnoWeb :core:test :grpc:test :thrift0.13:test :it:server:test'
  - sh: './.appveyor.build.sh "$PROFILE"'

test: off

on_failure:
  - sh: './.appveyor.report.sh "$PROFILE"'

cache:
  - "%APPDATA%\\npm-cache"
  - "%USERPROFILE%\\.gradle\\wrapper\\dists"
  - "%USERPROFILE%\\.gradle\\caches\\jars-3"
  - "%USERPROFILE%\\.gradle\\caches\\modules-2"
  - "%USERPROFILE%\\.gradle\\caches\\package-lists"
  - "%USERPROFILE%\\.gradle\\caches\\sphinx-binary"

#notifications:
#  - provider: Slack
#    incoming_webhook:
#      secure: uDUySAYLk8RjAL6ZAWd9K/hP9rV1/yYPz26CybZOPFZB7Le4v7/x2byv3HkwEJtxAYFi0RjeVJG4UF9oZfyqfbnyOW4vGZ3KYUJBT1EidEE=
