# Build output
/build
/*/build
/*/*/build
/out
/*/out
/*/*/out
**/gen-java
**/gen-src

# Package Files #
*.jar
!**/src/**/WEB-INF/lib/*.jar
!/gradle/wrapper/gradle-wrapper.jar
!/settings/intellij_idea/settings.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle

# IntelliJ
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig
/classes
/out

# Eclipse
*.pydevproject
.project
.metadata
/bin
/*/bin
/tmp
/*/tmp
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings
.loadpath

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

