---
language: java
sudo: false

os:
  - linux

branches:
  only:
    - master

notifications:
  email: false
  slack: line-armeria:vLZppggTRH02hwY2eOACIzCG

cache:
  directories:
    - $HOME/.m2
    - $HOME/.jdk

env:
  global:
    - JAVA_HOME=$HOME/.jdk/default
    - PATH=$JAVA_HOME/bin:$PATH

before_install:
  - .travis/install-jdk.sh
  - .travis/clean-m2-repo.sh

install:
  - true

script:
  - mvn -V -B -Pcoverage test site

after_success:
  - bash <(curl -s https://codecov.io/bash)

