language: java
sudo: false
os:
- linux
branches:
  only:
  - master
  - '0.46'
notifications:
  email: false
  slack:
    rooms:
      secure: m/kNnefP+8/C2neKHzmayQ0DzsF4tztIQyXdBHo4PRwoBZeEH1KsMBln7pjfOuHcGr1B9QX0DbmW0Daj2+SwTJ4Cp+olb07rMDCQLgjOJq4eOSLNHtva/+5JBDsuv9HdDCEh7xuw12W0Ag17rfv1OBL0+ZcBQ/XC4uY55wTzrcZhf6jWpz3IKZcVN1nsdLOPkXMcL6biZU9jE94f+0NDiTis43EDyYWiYbiGW/rJM4Hw3Tf5gaFF/32VZAIfYL75pWPoRmdzwGAhjHbPBX5SNix2jBjHV5hhz+I1XhYyf/E7dmkXupAzvUEWnV6ntyYx5JwiNDK2sfekwZbC+DlooN+0h6qARieY/gj1tH9pkD5BqvBMu2/44tZr0Emg4LRu35qj/6tLUUw5Mt+j1iOffpXQh0FkrkcXqmLNeCufVgbyYVKjyUXF9uv1rusc0CcNjgpEvQatb28OMwzRcyZ+Btfj3PZtRYHJ8k3vT6JSR8KbXymQ/LRAPC1FNzi598/WnxkC6oRgsOV9YEID+P4DK7o8G2P1Z5PZjglypzALxwL7JRIV4ixNUjRnl1eMvY8Img/ZGvX/dYd7V1KYDwwj8aW67hImLmwIEry7C6qiR/K6qTMNjM4f6YWP0UU9On8OjW7uumyygVflAh55nczIg975mAE53V+V+a2NuGqoq9w=
cache:
  directories:
  - "$HOME/.gradle/wrapper/dists"
  - "$HOME/.gradle/caches/jars-3"
  - "$HOME/.gradle/caches/modules-2"
  - "$HOME/.gradle/caches/package-lists"
  - "$HOME/.gradle/caches/sphinx-binary"
  - "$HOME/.jdk"
env:
  global:
  - _JAVA_OPTIONS=
  - JAVA_HOME=$HOME/.jdk/default
  - PATH=$JAVA_HOME/bin:$PATH
  - GRADLE_OPTS=-Xmx1280m
before_install:
- ".travis/install-jdk.sh"
- "./gradlew --version"
install:
- true
script:
- "./gradlew --no-daemon --stacktrace -Pcoverage checkstyle test build"
before_cache:
- find $HOME/.gradle/caches -name '*.lock' -delete
after_success:
- bash <(curl -s https://codecov.io/bash)
