@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css);

body {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.42857143;
  background-color: white;
  margin: 0;
}

.wy-nav-side {
  font-size: 17px;
}

.wy-nav-top {
  line-height: 30px;
}

.wy-nav-content {
  max-width: 100%;
}

.wy-nav-content p {
  font-size: inherit;
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a,
.wy-nav-top > a {
  font-weight: inherit;
}

.wy-side-nav-search > a {
  margin: 0;
  display: block;
}

.wy-side-nav-search > a img.logo {
  max-width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

pre, code, kbd, var, samp, tt,
.rst-content div[class^='highlight'] pre,
.rst-content pre.literal-block,
.rst-content tt.literal {
  font-family: 'Source Code Pro', 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono',
               'DejaVu Sans Mono', monospace;
  font-weight: 500;
}

pre,
.rst-content div[class^='highlight'] pre,
.rst-content pre.literal-block {
  padding: 12px;
  font-size: 13px;
  overflow: auto;
  color: inherit;
}

code, kbd, var, samp, tt,
.rst-content tt.literal,
.rst-content code.literal {
  padding-left: 0;
  padding-right: 0;
  background: inherit;
  font-size: inherit;
  border: none;
}

p {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

.rst-content tt.download {
  font-family: inherit;
}
