/* Source Sans Pro */

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url('EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
       url('OTF/SourceSansPro-Regular.otf') format('opentype'),
       url('TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  src: url('EOT/SourceSansPro-It.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
       url('OTF/SourceSansPro-It.otf') format('opentype'),
       url('TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url('EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
       url('OTF/SourceSansPro-Bold.otf') format('opentype'),
       url('TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  src: url('EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
       url('OTF/SourceSansPro-BoldIt.otf') format('opentype'),
       url('TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

/* Source Code Pro */

@font-face {
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url('EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
       url('OTF/SourceCodePro-Regular.otf') format('opentype'),
       url('TTF/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  src: url('EOT/SourceCodePro-It.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceCodePro-It.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceCodePro-It.otf.woff') format('woff'),
       url('OTF/SourceCodePro-It.otf') format('opentype'),
       url('TTF/SourceCodePro-It.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url('EOT/SourceCodePro-Bold.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
       url('OTF/SourceCodePro-Bold.otf') format('opentype'),
       url('TTF/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  src: url('EOT/SourceCodePro-BoldIt.eot') format('embedded-opentype'),
       url('WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
       url('WOFF/OTF/SourceCodePro-BoldIt.otf.woff') format('woff'),
       url('OTF/SourceCodePro-BoldIt.otf') format('opentype'),
       url('TTF/SourceCodePro-BoldIt.ttf') format('truetype');
}

/* Apply font styles */

body {
  font-family: 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', 'Malgun Gothic',
               'Helvetica', 'Arial', sans-serif;
}

pre, code, kbd, var, samp, tt, .code {
  font-family: 'Source Code Pro', 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono',
               'DejaVu Sans Mono', monospace;
}

h1 > code, h2 > code, td > code {
  /* Source Code Pro looks like it has extra left margin; compensate. */
  position: relative;
  left: -0.20em;
}
