.wrapper {
    display: block;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Specify properties twice for the browsers that don't support 'min/max(vw, vh)'. */
    /* e.g. Firefox Mobile */
    font-size: 25vw;
    font-size: min(25vw, 30vh);
    line-height: 25vw;
    line-height: min(25vw, 30vh);
    white-space: nowrap;
    color: var(--ifm-font-color-base);
}

.zero {
    position: relative;

    /* Specify properties twice for the browsers that don't support 'min/max(vw, vh)'. */
    /* e.g. Firefox Mobile */
    top: -3vw;
    top: max(-3vw, -3vh);
    width: 25vw;
    width: min(25vw, 30vh);
    height: 24vw;
    height: min(24vw, 30vh);
    margin-right: 2.5vw;
    margin-right: min(2.5vw, 2.5vh);

    opacity: 0;
    transition-property: opacity;

    animation-name: pulse;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes pulse {
    0% {
    opacity: 0;
    }

    20% {
    opacity: 1;
    }

    50% {
    opacity: 1;
    }

    100% {
    opacity: 0;
    }
}
