:root {
  --marketing-margin: 80px;
  --marketing-margin-sm: 60px;
  --marketing-block-width: 532px;
  --marketing-block-margin: 100px;
  --two-column-min-width: 1224px; /* marketing-block-width * 2 + marketing-margin * 2 */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--marketing-margin) 0 0;
  max-width: 100%;

  &:last-child {
    padding-bottom: var(--marketing-margin);
  }

  @media (max-width: 996px) {
    padding: var(--marketing-margin-sm);
    padding-bottom: 0;

    &:last-child {
      padding-bottom: var(--marketing-margin-sm);
    }
  }
}

.wrapper .blockList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  overflow: visible;

  .block {
    flex-grow: 1;
    flex-basis: 0;
  }

  /* Small display, single column */
  @media (max-width: 996px) {
    .block {
      width: var(--marketing-block-width);
      max-width: 100%;
      margin: 0 auto;
    }
  }

  /* Medium display, single column */
  @media (min-width: calc(996px + 1px)) {
    min-width: 0;
    max-width: 100%;
    margin: 0 auto;

    .block {
      width: var(--marketing-block-width);
      max-width: var(--marketing-block-width);
    }
  }

  /* Use 2-column layout for a large display. */
  @media (min-width: 1224px) {
    flex-direction: row;

    .block {
      min-width: var(--marketing-block-width);
      width: var(--marketing-block-width);
      max-width: var(--marketing-block-width);
    }

    .block:nth-child(odd) {
      margin: 0 calc(var(--marketing-block-margin) / 2) 0 0;
    }

    .block:nth-child(even) {
      margin: 0 0 0 calc(var(--marketing-block-margin) / 2);
    }
  }
}

.wrapper .blockListReverse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  overflow: visible;

  .block {
    flex-grow: 1;
    flex-basis: 0;
  }

  /* Small display, single column (reverse) */
  @media (max-width: 996px) {
    .block {
      width: var(--marketing-block-width);
      max-width: 100%;
      margin: 0 auto;
    }
  }

  /* Medium display, single column (reverse) */
  @media (min-width: calc(996px + 1px)) {
    min-width: 0;
    max-width: 100%;
    margin: 0 auto;

    .block {
      width: var(--marketing-block-width);
      max-width: var(--marketing-block-width);
    }
  }

  /* Allow reversing only on 2-column layout. */
  @media (min-width: 1224px) {
    flex-direction: row-reverse;

    .block:nth-child(odd) {
      margin: 0 auto 0 calc(var(--marketing-block-margin) / 2);
    }

    .block:nth-child(even) {
      margin: 0 calc(var(--marketing-block-margin) / 2) 0 auto;
    }
  }
}

.highlight {
  color: var(--armeria-magenta);
}

.highlightNoWrap {
  color: var(--armeria-magenta);
  white-space: nowrap;
}
