.versionCardItem {
  margin-bottom: 1rem;
}

.versionCardItem a {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-decoration: none;
  padding: 15px;
  box-shadow: var(--ifm-global-shadow-lw);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-card-border-radius);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  background-color: var(--ifm-card-background-color);
}

.versionCardItem a:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}
