@import '../../node_modules/antd/es/style/themes/default.less';

.wrapper {
  position: relative;
  z-index: @zindex-back-top - 1;
  background: @layout-header-background;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;

  // No sidebar, shrinking
  @media (max-width: @layout-width-shrink-max) {
    width: 100%;
  }

  // No sidebar
  @media (min-width: @layout-width-0-min) {
    width: @layout-width-0;
  }

  // Single sidebar
  @media (min-width: @layout-width-1-min) {
    width: @layout-width-1;
  }

  // Double sidebar
  @media (min-width: @layout-width-2-min) {
    width: @layout-width-2;
  }
}

.logo {
  flex-grow: 0;
  height: @layout-header-height;
  margin-left: 2px;
}

.menuIcons {
  a {
    margin-left: @margin-md;
    color: @menu-dark-color;

    &:hover, &:active {
      color: @menu-dark-highlight-color;
    }

    :global(.anticon) {
      width: @avatar-font-size-lg;
      height: @avatar-font-size-lg;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.responsiveRightMargin {
  @media (max-width: @layout-width-0-min + @margin-sm * 2) {
    margin-right: @margin-sm;
  }

  @media (min-width: @layout-width-0-min + @margin-sm * 2) {
    margin-right: 0;
  }

  @media (min-width: @layout-width-1-min) {
    margin-right: @margin-sm;
  }

  @media (min-width: @layout-width-1-min + @margin-sm * 2 ) {
    margin-right: 0;
  }
}

.topMenu {
  @media (max-width: @layout-width-0-max) {
    display: none;
  }

  @media (min-width: @layout-width-1-min) {
    flex-grow: 1;
    line-height: @layout-header-height;
    text-align: right;
    overflow: hidden;
    background-color: @armeria-darkgray;
  }
}

.topMenuIcons {
  .menuIcons;
  .responsiveRightMargin;
  padding-top: @padding-xss;
}

.sidebarWrapper {
  @media (max-width: @layout-width-0-max) {
    flex-grow: 1;
    text-align: right;
  }

  @media (min-width: @layout-width-1-min) {
    display: none;
  }

  .staticSidebarButton {
    .responsiveRightMargin;
    background: transparent;
    color: @menu-dark-color;
    border-color: @menu-dark-color;

    &:hover {
      color: @menu-dark-highlight-color;
      border-color: @menu-dark-highlight-color;
    }

    &:active {
      color: @menu-dark-highlight-color;
      border-color: @menu-dark-highlight-color;
    }
  }
}

.sidebarDrawer {
  :global(.ant-drawer-content) {
    background-color: @armeria-darkgray;
  }
  :global(.ant-drawer-body) {
    padding: 4px 0 0 0;
  }
  :global(.ant-drawer-close) {
    color: @menu-dark-color;
    &:active {
      color: @menu-dark-highlight-color;
    }
  }

  .sidebarMenuIcons {
    padding-top: @padding-sm;
    .menuIcons;
  }

  .sidebarNewsletter {
    margin: @margin-md @margin-md 0;
    :global(.ant-typography) {
      margin-bottom: 0;
      color: @text-color-dark;
    }
  }

  .sidebarExtra {
    border-top: dotted 1px @armeria-gray;
    margin: @margin-lg 0;
    padding-top: @margin-lg;
  }
}

.floatingSidebarButtonWrapper {
  position: absolute;
  top: 0;
  z-index: @zindex-affix;
  pointer-events: none;

  // These two properties are overridden by header.tsx.
  height: 100vh;
  display: none;

  @media (max-width: @layout-width-shrink-max) {
    right: @margin-sm;
  }

  @media (min-width: @layout-width-0-min) {
    right: calc((100% - @layout-width-0) / 2 + @margin-md);
  }

  @media (min-width: @layout-width-1-min) {
    display: none;
  }

  .floatingSidebarButton {
    pointer-events: initial;
    opacity: 0.9;
  }

  &.visible {
    display: block;
    @media (min-width: @layout-width-1-min) {
      display: none;
    }
  }
}
