name: CI
on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  # Cancel the previous builds in the same PR.
  # Allow running concurrently for all non-PR commits.
  group: ci-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    if: github.repository == 'line/armeria'
    runs-on: ${{ matrix.on }}
    timeout-minutes: 80
    strategy:
      fail-fast: false
      matrix:
        on: [ self-hosted, macos-latest, windows-latest ]
        java: [ 16 ]
        include:
          - java: 8
            on: self-hosted
          - java: 11
            on: self-hosted
          - java: 15
            on: self-hosted
            leak: true
          - java: 16
            # TODO(ikhoon): Revert to self-hosted runners once the following error is fixed
            #               `Cannot expand ZIP '/actions-runner/../armeria-shaded-1.7.3-SNAPSHOT.jar' as it does not exist.`
            on: macos-latest
            coverage: true

    steps:
    - uses: actions/checkout@v2

    - id: setup-jre
      if: ${{ matrix.java != 16 }}
      name: Set up JRE ${{ matrix.java }}
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: ${{ matrix.java }}
        java-package: jre

    - id: setup-jdk-16
      name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '16'

    - if: ${{ matrix.on != 'self-hosted' }}
      name: Restore the cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/wrapper
          ~/.gradle/caches
        key: build-${{ matrix.java }}-${{ runner.os }}-${{ secrets.CACHE_VERSION }}-${{ hashFiles('gradle.properties', 'gradle/wrapper/gradle-wrapper.properties', '**/build.gradle', 'dependencies.yml', '*/package-lock.json') }}
        restore-keys: |
          build-${{ matrix.java }}-${{ runner.os }}-${{ secrets.CACHE_VERSION }}-
          build-${{ matrix.java }}-${{ runner.os }}-

    - name: Build with Gradle
      run: |
        ./gradlew --no-daemon --stacktrace build \
        ${{ (matrix.on == 'self-hosted') && '--max-workers=8' || '--max-workers=2' }} --parallel \
        ${{ matrix.coverage && '-Pcoverage' || '' }} \
        ${{ matrix.leak && '-Pleak' || '' }} \
        -PnoLint \
        -PflakyTests=false \
        -PbuildJdkVersion=16 \
        -PtestJavaVersion=${{ matrix.java }} \
        -Porg.gradle.java.installations.paths=${{ steps.setup-jdk-16.outputs.path }},${{ steps.setup-jre.outputs.path }}
      shell: bash

    - name: Clean up the cache
      # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
      # Restoring these files from a GitHub Actions cache might cause problems for future builds.
      run: |
        rm -fr ~/.gradle/caches/[0-9]* || true
        rm -fr ~/.gradle/caches/journal-* || true
        rm -fr ~/.gradle/caches/transforms-* || true
        rm -f ~/.gradle/caches/*/*.lock || true
        rm -f ~/.gradle/caches/*/gc.properties || true
      shell: bash

    - name: Dump stuck threads
      if: always()
      run: jps | grep -vi "jps" | awk '{ print $1 }' | xargs -I'{}' jstack -l {} || true
      shell: bash

    - name: Upload the coverage report to Codecov
      if: ${{ matrix.coverage }}
      uses: codecov/codecov-action@v1

    - name: Collect the test reports
      if: failure()
      run: find . '(' -name 'hs_err_*.log' -or -path '*/build/reports/tests' -or -path '*/build/test-results' ')' -exec tar rf "reports-JVM-${{ matrix.java }}.tar" {} ';'
      shell: bash

    - name: Upload the artifacts
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: reports-JVM-${{ matrix.java }}
        path: reports-JVM-${{ matrix.java }}.tar
        retention-days: 3

  lint:
    if: github.repository == 'line/armeria'
    runs-on: self-hosted
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2

      - id: setup-jdk-16
        name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'

      - name: Run the linters
        run: |
          ./gradlew --no-daemon --stacktrace --max-workers=8 --parallel lint

      - name: Clean up the cache
        run: |
          rm -fr ~/.gradle/caches/[0-9]* || true
          rm -fr ~/.gradle/caches/journal-* || true
          rm -fr ~/.gradle/caches/transforms-* || true
          rm -f ~/.gradle/caches/*/*.lock || true
          rm -f ~/.gradle/caches/*/gc.properties || true
        shell: bash

  site:
    if: github.repository == 'line/armeria'
    runs-on: self-hosted
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2

      - name: Install svgbob_cli
        # The latest version(0.6.0) of svgbob_cli fails to install in self-hosted runners
        run: |
          sudo yum -y install cargo && cargo install svgbob_cli --version 0.5.4
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - id: setup-jdk-16
        name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'

      - name: Build the site
        run: |
          ./gradlew --no-daemon --stacktrace --max-workers=8 --parallel site

      - name: Clean up the cache
        run: |
          rm -fr ~/.gradle/caches/[0-9]* || true
          rm -fr ~/.gradle/caches/journal-* || true
          rm -fr ~/.gradle/caches/transforms-* || true
          rm -f ~/.gradle/caches/*/*.lock || true
          rm -f ~/.gradle/caches/*/gc.properties || true
        shell: bash

  flaky-tests:
    if: github.repository == 'line/armeria'
    runs-on: self-hosted
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2

      - id: setup-jdk-16
        name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'

      - name: Run flaky tests
        run: |
          ./gradlew --no-daemon --stacktrace --max-workers=2 --parallel check -PnoWeb -PnoLint -PflakyTests=true

      - name: Clean up the cache
        run: |
          rm -fr ~/.gradle/caches/[0-9]* || true
          rm -fr ~/.gradle/caches/journal-* || true
          rm -fr ~/.gradle/caches/transforms-* || true
          rm -f ~/.gradle/caches/*/*.lock || true
          rm -f ~/.gradle/caches/*/gc.properties || true
        shell: bash

      - name: Dump stuck threads
        if: always()
        run: jps | grep -vi "jps" | awk '{ print $1 }' | xargs -I'{}' jstack -l {} || true
        shell: bash
