name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.on }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        on: [ self-hosted, macos-latest, windows-latest ]
        java: [ '15' ]
        include:
          - java: 8
            on: self-hosted
            site: true
          - java: 11
            on: self-hosted
            coverage: true
          - java: 14
            on: self-hosted
            leak: true
          - java: 15
            on: self-hosted
            lint: true
    steps:
    - uses: actions/checkout@v2

    - id: setup-jre
      if: "!startsWith(matrix.java, '15')"
      name: Set up JRE ${{ matrix.java }}
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: ${{ matrix.java }}
        java-package: jre

    - id: setup-jdk-15
      name: Set up JDK 15
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '15'

    - name: Install svgbob_cli
      if: ${{ matrix.site }}
      run: sudo apt install cargo && cargo install svgbob_cli

   - name: Restore Gradle Cache
     uses: actions/cache@v2
     with:
       path: |
         ~/.gradle/wrapper/dists
         ~/.gradle/caches/jars-3
         ~/.gradle/caches/modules-2
         ~/.gradle/caches/package-lists
       key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
       restore-keys: |
         ${{ runner.os }}-gradle-

    - name: Build with Gradle
      run: |
        ./gradlew --no-daemon --stacktrace --parallel --max-workers=4 build \
        ${{ matrix.lint && 'lint' || '' }} \
        ${{ !matrix.lint && '-PnoLint' || '' }} \
        ${{ !matrix.site && '-PnoWeb' || '' }} \
        ${{ matrix.coverage && '-Pcoverage' || '' }} \
        ${{ matrix.leak && '-Pleak' || '' }} \
        ${{ matrix.site && ':site:siteLint :site:site' || '' }} \
        -PbuildJdkVersion=15 \
        -PtestJavaVersion=${{ matrix.java }} \
        -Porg.gradle.java.installations.paths=${{ steps.setup-jdk-15.outputs.path }},${{ steps.setup-jre.outputs.path }} \

    - name: Cleanup Gradle Cache
      # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
      # Restoring these files from a GitHub Actions cache might cause problems for future builds.
      run: |
        rm -f ~/.gradle/caches/modules-2/modules-2.lock
        rm -f ~/.gradle/caches/modules-2/gc.properties
      shell: bash

    - name: Upload coverage to Codecov
      if: ${{ matrix.coverage }}
      uses: codecov/codecov-action@v1

    - name: Collecting the test reports
      if: failure()
      run: find . '(' -name 'hs_err_*.log' -or -path '*/build/reports/tests' ')' -exec tar rf "reports-JVM-${{ matrix.java }}.tar" {} ';'
      shell: bash

    - name: Upload Artifact
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: reports-JVM-${{ matrix.java }}
        path: reports-JVM-${{ matrix.java }}.tar
        retention-days: 3
