name: Update Public Suffix List
on:
  schedule:
    - cron: '0 10 * * *'

env:
  LC_ALL: "en_US.UTF-8"

jobs:
  update-psl:
    if: github.repository == 'line/armeria'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: setup-jdk-21
        name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Update public suffix list
        run: |
          ./gradlew --no-daemon --stacktrace :core:publicSuffixes

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSWORD }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          # The title of the pull request.
          title: Update public suffix list
          commit-message: Update public suffix list
          author: Meri Kim <dl_armeria@linecorp.com>
          branch: update-public-suffixes
          committer: Meri Kim <dl_armeria@linecorp.com>
          delete-branch: true
          label: miscellaneous
          add-paths: |
            core/src/main/resources/com/linecorp/armeria/public_suffixes.txt
